[submodule "CodeEditor"]
	path = CodeEditor
	url = https://git.qt.io/annichol/CodeEditor.git
[submodule "ScriptConsole"]
	path = ScriptConsole
	url = https://git.qt.io/annichol/ScriptConsole.git
[submodule "data"]
	path = data
	url = https://git.qt.io/annichol/qt-quick-3d-training-templates.git
